body{
	margin: 0px;
	background-color: white; 
	display: block;
	justify-content: center!important;
}

header{
	width: 100px;
}

#background{
	width: 100%;
	height: 100%;
	background-image: url("background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(5px);
}

.form-control{
	min-width: 240px!important;
	max-width: 350px!important;
	padding: 24px!important;
	margin: 30px!important;
	border: solid 1px ;
	border-radius: 3px;
	border-color: #d0d5da;
	background-color: white;
}

.inp{
	padding: 10px!important;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
}

.name{
	margin-bottom: 5px;
	font-family: --apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 14px! important;
	color: #586069!important;
}

#but{
	border: 0px! important;
	width: 100%! important;
	min-height: 46px! important;
	padding: 20px! important;
	background-color: #f2ff73! important;
	border-radius: 3px! important;
	cursor: pointer! important;
	color: white! important;
}

#fp{
	background-color: beige;
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	font-family: --apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 14px! important;
	text-align: center;
	position: absolute;
	top: 400px;
}

#link{
	color: #075ca0!important;
	text-decoration-line: none;
}

#table{
	min-width: 300px!important;
	max-width: 350px!important;
	max-height: 400px!important;
	overflow-y: scroll;
	border-radius: 3px;
	border-color: #d0d5da;
	background-color: white;
	text-align: center;
	margin-top:30px;
}

#tableb{
	min-width: 340px!important;
	max-width: 550px!important;
	margin: 30px!important;
	border: solid 0px ;
	text-align: center;
}

#tabr{
	margin: 10px;
	max-width: 250px;
	max-height: 400px;
	overflow-y: scroll;
}

table{
	width: 100%;
	font-family: --apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 17px! important;
	font-variant-caps: petite-caps;
	border-collapse: collapse;
}
tr,td{
	height: 30px;
}
tr:nth-child(even) {background: white;}
tr:nth-child(odd) {background: lightgrey;}
th{
	height: 30px;
	background: #ff4646;
	color: white;
}
.bt{
	height: 20px;
	width: 40px;
	border: 0px;
	background-color: red;
	border-radius: 10px;
}

.butanl{
	min-width: 240px!important;
	max-width: 350px!important;
	border: 0px! important;
	min-height: 46px! important;
	padding: 20px! important;
	background-color: #c12929! important;
	border-radius: 3px! important;
	cursor: pointer! important;
	color: white! important;
}

#wrap1{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#wrap2{
	display: grid;
	justify-content: center;
}

#wrap3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}